{% extends '::layout_admin.html.twig' %}


{% block page_title %}
    {{ "crud.title.show"|trans([], 'admin') }}
{% endblock %}

{% block page_subtitle %}
    {{ "admin.objectgroup.entity_name"|trans([], "admin") }}
{% endblock %}

{% block content %}
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs pull-right">
            <li class="pull-left header"><i class="fa fa-th"></i> {{ entity }}</li>
            <li class="active"><a data-toggle="tab" href="#tab_entity_name_1">{{ "crud.title.properties"|trans([], "admin") }}</a></li>
                </ul>
        <div class="tab-content">
            <div id="tab_entity_name_1" class="tab-pane active">                <form role="form">
                    <table class="record_properties">
                        <tbody>
                            <tr>
                                <th>{{ "admin.objectgroup.Geometry"|trans([], "admin") }}</th>
                                <td>{{ entity.Geometry }}</td>
                            </tr>
                            <tr>
                                <th>&nbsp;</th>
                            </tr>
                            <tr>
                                <th>{{ "admin.objectgroup.Storage"|trans([], "admin") }}</th>
                                <td>{{ entity.Storage }}</td>
                            </tr>
                            <tr>
                                <th>{{ "admin.objectgroup.localPath"|trans([], "admin") }}</th>
                                <td>{{ entity.localPath }}</td>
                            </tr>
                            <tr>
                                <th>&nbsp;</th>
                            </tr>
                            <tr>
                                <th>{{ "admin.objectgroup.ObjectType"|trans([], "admin") }}</th>
                                <td>{{ entity.ObjectType }}</td>
                            </tr>
                            <tr>
                                <th>{{ "admin.objectgroup.nbFiles"|trans([], "admin") }}</th>
                                <td>{{ entity.nbFiles }}</td>
                            </tr>
                            <tr>
                                <th>{{ "admin.objectgroup.size"|trans([], "admin") }}</th>
                                <td>{{ entity.formattedSize }}</td>
                            </tr>
                            <tr>
                                <th>{{ "admin.objectgroup.ObjectFormat"|trans([], "admin") }}</th>
                                <td>{{ entity.ObjectFormat }}</td>
                            </tr>
                            <tr>
                                <th>{{ "admin.objectgroup.filePattern"|trans([], "admin") }}</th>
                                <td>{{ entity.filePattern }}</td>
                            </tr>
                            <tr>
                                <th>&nbsp;</th>
                            </tr>
                            <tr>
                                <th>{{ "admin.objectgroup.fullPath"|trans([], "admin") }}</th>
                                <td>{{ entity.fullPath }}</td>
                            </tr>
                            <tr>
                                <th>{{ "admin.objectgroup.public"|trans([], "admin") }}</th>
                                <td>{% if entity.public %}YES{% else %}NO{% endif %}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center">
                        <a href="{{ path('admin_objectgroup_edit', { id:entity.id}) }}" class="btn btn-default">{{ 'crud.form.edit'|trans([], 'admin')|addGlyphicon("edit") }}</a>
                        <a href="{{ path('admin_geometry_show', {id:entity.Geometry.id}) }}#tab_objectGroups_1" class="btn btn-default">{{ 'crud.form.list'|trans([], 'admin')|addGlyphicon("list") }}</a>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    
{% endblock %}
