{% extends '::layout_pub.html.twig' %}
{% block body %}

<div id="popup">
            <table class="record_properties">
                <tbody>
                    <tr>
                        <th>{{ "admin.objectgroup.Geometry"|trans([], "admin") }}</th>
                        <td>{{ entity.Geometry }}</td>
                    </tr>
                    <tr>
                        <th>&nbsp;</th>
                    </tr>
                    <tr>
                        <th>{{ "admin.objectgroup.Storage"|trans([], "admin") }}</th>
                        <td>{{ entity.Storage }}</td>
                    </tr>
                    <tr>
                        <th>{{ "admin.objectgroup.localPath"|trans([], "admin") }}</th>
                        <td>{{ entity.localPath }}</td>
                    </tr>
                    <tr>
                        <th>&nbsp;</th>
                    </tr>
                    <tr>
                        <th>{{ "admin.objectgroup.ObjectType"|trans([], "admin") }}</th>
                        <td>{{ entity.ObjectType }}</td>
                    </tr>
                    <tr>
                        <th>{{ "admin.objectgroup.nbFiles"|trans([], "admin") }}</th>
                        <td>{{ entity.nbFiles }}{% if entity.nbGroups > 0 %} splitted in {{ entity.nbGroups }} group_* dirs{% endif %}</td>
                    </tr>
                    <tr>
                        <th>{{ "admin.objectgroup.size"|trans([], "admin") }}</th>
                        <td>{{ entity.formattedSize }}</td>
                    </tr>
                    <tr>
                        <th>{{ "admin.objectgroup.ObjectFormat"|trans([], "admin") }}</th>
                        <td>{{ entity.ObjectFormat }}</td>
                    </tr>
                    <tr>
                        <th>{{ "admin.objectgroup.filePattern"|trans([], "admin") }}</th>
                        <td>{{ entity.filePattern }}</td>
                    </tr>
                </tbody>
            </table>
        <div class="fullpath">
            <b>{{ "admin.objectgroup.fullPath"|trans([], "admin") }}</b><br/>
            {{  entity.fullPath }}
        </div>

        <div class="fullpath">
            {% if app.user %}
            <a href="{{ url("admin_objectgroup_edit", {"id": entity.id}) }}" target="_blank"><i class="fa fa-fw fa-edit"></i> Edit</a>
            {% endif %}
            <a href="javascript: self.close()"><i class="fa fa-fw fa-close"></i> Close</a>
        </div>

        <div class="clearfix"></div>
</div>
{% endblock %}