{% extends "bootstrap_3_horizontal_layout.html.twig" %}

{% block widget_attributes %}
    {% if attr.class is defined %}
        {% set class = attr.class ~ ' form-control' %}
    {% else %}
        {% set class = 'form-control' %}
    {% endif %}
    {% set attr = attr|merge({'class' : class}) %}
    {{ parent () }}
{% endblock widget_attributes %}

{% block button_widget -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' btn')|trim}) %}
    {% if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
            '%name%': name,
            '%id%': id,
            }) %}
        {%- else -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>
        {%- if glyphicon is defined or fa_icon is defined %}
            <i class="{% if glyphicon is defined %}glyphicon glyphicon-{{ glyphicon }}{% endif %}{% if fa_icon is defined %}fa fa-{{ fa_icon }}{% endif %}"></i>
        {% endif %}
        {{ label|trans({}, translation_domain) }}
    </button>
{%- endblock button_widget %}

{#{% block choice_widget_expanded %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {% for child in form %}
                {{ form_widget(child) }}
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock choice_widget_expanded %}#}

{#{% block choice_widget_collapsed %}
    {% set attr = attr|merge({'class' : 'form-control'}) %}
    {{ parent() }}
{% endblock %}#}

{#{% block checkbox_widget %}
    <div class="checkbox">
        {% spaceless %}
            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}
            {% if required %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
            {% endif %}
            {% if label is empty %}
                {% set label = name|humanize %}
            {% endif %}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
            {% if label is not sameas(false) %}
                {{ label|trans({}, translation_domain) }}
            {% endif %}
            </label>
        {% endspaceless %}
    </div>
{% endblock checkbox_widget %}#}

{#{% block radio_widget %}
    <div class="radio">
        {% spaceless %}
            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}
            {% if required %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
            {% endif %}
            {% if label is empty %}
                {% set label = name|humanize %}
            {% endif %}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
            {% if label is not sameas(false) %}
                {{ label|trans({}, translation_domain) }}
            {% endif %}
            </label>
        {% endspaceless %}
    </div>
{% endblock radio_widget %}#}

{% block date_widget %}
    {% if widget == 'single_text' %}
        <div class="input-group">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>

            {% if attr.class is defined %}
                {% set class = attr.class ~ ' datepicker' %}
            {% else %}
                {% set class = ' datepicker' %}
            {% endif %}
            {% set attr = attr|merge({'class' : class, 'data-datepicker':'on', 'data-date-format' : default_date_format() }) %}

            {{ block('form_widget_simple') }}
        </div>
    {% else %}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-inline')|trim}) %}
        <div {{ block('widget_container_attributes') }}>
            {% set date_pattern = '<div class="row">' ~ date_pattern ~ '</div>'|raw %}
            {{ date_pattern|replace({
            '{{ year }}' : '<div class="col-xs-4">{{ year }}</div>',
            '{{ month }}' : '<div class="col-xs-4">{{ month }}</div>',
            '{{ day }}' : '<div class="col-xs-4">{{ day }}</div>',
            })|raw|replace({
            '{{ year }}':  form_widget(form.year),
            '{{ month }}': form_widget(form.month),
            '{{ day }}':   form_widget(form.day),
            })|raw }}
        </div>
    {% endif %}
{% endblock %}

{% block datetime_widget %}
    {% if widget == 'single_text' %}
        <div class="input-group">
            <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
            </div>

            {% if attr.class is defined %}
                {% set class = attr.class ~ ' datetimepicker' %}
            {% else %}
                {% set class = ' datetimepicker' %}
            {% endif %}
            {% set attr = attr|merge({'class' : class, 'data-datetimepicker':'on', 'data-date-format' : default_datetime_format()}) %}

            {{ block('form_widget_simple') }}
        </div>
    {% else %}
        {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-inline')|trim}) %}
        <div {{ block('widget_container_attributes') }}>
            {% set date_pattern = '<div class="row">' ~ date_pattern ~ '</div>'|raw %}
            {{ date_pattern|replace({
            '{{ year }}' : '<div class="col-xs-4">{{ year }}</div>',
            '{{ month }}' : '<div class="col-xs-4">{{ month }}</div>',
            '{{ day }}' : '<div class="col-xs-4">{{ day }}</div>',
            })|raw|replace({
            '{{ year }}':  form_widget(form.year),
            '{{ month }}': form_widget(form.month),
            '{{ day }}':   form_widget(form.day),
            })|raw }}
            {{ form_widget(form.hour, vars) }}{% if with_minutes %}:{{ form_widget(form.minute, vars) }}{% endif %}{% if with_seconds %}:{{ form_widget(form.second, vars) }}{% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block time_widget %}
    {% if widget == 'single_text' %}
        <div class="bootstrap-timepicker">
            <div class="input-group">
                <div class="input-group-addon add-on">
                    <i class="fa fa-clock-o"></i>
                </div>
                {% if attr.class is defined %}
                    {% set class = attr.class ~ ' timepicker' %}
                {% else %}
                    {% set class = ' timepicker' %}
                {% endif %}
                {% set attr = attr|merge({'class' : class, 'data-timepicker':'on', 'data-date-format' : default_time_format()}) %}
                {{ block('form_widget_simple') }}
            </div>
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block form_row %}
    {% set types = form.vars.block_prefixes %}
    {% if 'checkbox' in types or 'radio' in types %}
        <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error has-feedback{% endif %}">
            <div class="{{ block('form_group_class') }}">
                {{ form_widget(form) }}
                {{ form_errors(form) }}
            </div>
        </div>
    {% else %}
        <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error has-feedback{% endif %}">
            {{ form_label(form) }}
            <div class="{{ block('form_group_class') }}">
                {{ form_widget(form) }}
                {{ form_errors(form) }}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block form_label -%}
    {% spaceless %}
        {% if label is sameas(false) %}
            <div class="{{ block('form_label_class') }}"></div>
        {% else %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ block('form_label_class'))|trim}) %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' control-label')|trim}) %}

            {% if not compound -%}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {%- endif %}
            {% if required -%}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
            {%- endif %}
                    {% if label is empty -%}
                {%- if label_format is not empty -%}
                    {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                    }) %}
                {%- else -%}
                    {% set label = name|humanize %}
                {%- endif -%}
            {%- endif -%}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                {% if help is defined %}
                    &nbsp; <a href="#" data-toggle="tooltip" data-original-title="{{ help }}"><i class="fa fa-question-circle"></i></a>
                {% endif %}

                {{ label|trans({}, translation_domain) }}

                {% if required %}
                    <span class="required" title="{{ "crud.form.required"|trans([],'admin') }}">*</span>
                {% endif %}
            </label>
        {% endif %}
    {% endspaceless %}
{%- endblock form_label %}

{#{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <ul class="list-unstyled">
                {% for error in errors %}
                    <li class="text-danger">{{ error.message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}#}

{# % block form_widget_simple %}
    {{ parent() }}

    {% if help is defined %}
        <p class="help-block">{{ help }}</p>
    {% endif %}
{% endblock % #}

{% block colorpicker_widget -%}
    {% spaceless %}
        {% if withAddon %}
            <div class="input-group" data-colorpicker-init="{{ optionsColorPicker }}">
                <div class="input-group-addon"><i style="background-color:{{ form.vars.value }};"></i></div>
                {{ form_widget(form) }}
            </div>
        {% else %}
            {% set attr = attr|merge({'data-colorpicker-init': optionsColorPicker }) %}
            {{ block('form_widget_simple') }}
        {% endif %}
    {% endspaceless %}
{%- endblock colorpicker_widget %}

{% block ckeditor_widget -%}
    {{ block('textarea_widget') }}
{%- endblock ckeditor_widget %}

{% block wysihtml5_widget -%}
    {{ block('textarea_widget') }}
{%- endblock wysihtml5_widget %}
